---
layout: default
---

{% assign is_instagram_post = false %}
{% if page.tags contains "instagram" %}
  {% assign is_instagram_post = true %}
{% endif %}
{% assign instagram_shortcode = page.image | split: "/" | last | split: "." | first %}

<div class="post-head{% if is_instagram_post %} instagram-post-head{% endif %}">
  <div class="container">
    <div class="row">

      <div class="col col-12">
        <div class="post-info">

          {% if page.tags.size >= 1 %}
            <div class="post-tags">
              {% for tag in page.tags %}
                <a href="{{ site.baseurl }}/tags/?tag={{ tag | downcase | url_encode }}" class="post__tag">{{ tag }}</a>
              {% endfor %}
            </div>
          {% endif %}
  
          <h1 class="post-title">{{ page.title | escape }}</h1>
  
          <div class="post-meta">
            <a href="{{site.baseurl}}/about/" class="post-author-link">{{site.data.settings.author.author__name}}</a> –
            <time class="post-date" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_string }}</time>
          </div>

          {% if is_instagram_post %}
            <div class="instagram-orbit-notes" aria-hidden="true">
              <span>@sleepychunk</span>
              <span>{{ page.date | date: "%B %-d, %Y" }}</span>
              <span>drag the space</span>
            </div>
          {% endif %}

        </div>
      </div>

    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    {% if page.image and is_instagram_post != true %}
    <div class="col col-12">
      <div class="post-image animate">
        <img class="lazy" data-src="{{site.baseurl}}{{page.image}}" alt="{{page.title}}">
      </div>
    </div>
    {%endif %}
  </div>
</div>

<!-- begin post -->
<div class="container animate">

  <article class="post{% if is_instagram_post %} instagram-post{% endif %}"{% if is_instagram_post %} data-instagram-post data-instagram-url="https://www.instagram.com/p/{{ instagram_shortcode }}/"{% if page.music_url %} data-music-url="{{ page.music_url }}"{% elsif page.audio %} data-music-url="{{ page.audio }}"{% endif %}{% endif %}>

    {% if is_instagram_post %}
      <div class="instagram-sound-panel" data-instagram-sound>

        {% if page.youtube_url %}
          {% comment %} Normalise youtube_url to embed form {% endcomment %}
          {% assign yt_raw = page.youtube_url %}
          {% if yt_raw contains "youtu.be/" %}
            {% assign yt_id = yt_raw | split: "youtu.be/" | last | split: "?" | first %}
          {% elsif yt_raw contains "watch?v=" %}
            {% assign yt_id = yt_raw | split: "watch?v=" | last | split: "&" | first %}
          {% elsif yt_raw contains "embed/" %}
            {% assign yt_id = yt_raw | split: "embed/" | last | split: "?" | first %}
          {% else %}
            {% assign yt_id = yt_raw %}
          {% endif %}
          <div class="instagram-youtube-embed">
            <iframe
              src="https://www.youtube.com/embed/{{ yt_id }}?rel=0"
              title="{% if page.music_title %}{{ page.music_title }}{% else %}Music{% endif %}"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
              loading="lazy"
            ></iframe>
          </div>
        {% endif %}

        {% if page.music_url or page.audio %}
          <div class="instagram-player" data-instagram-player>
            <button class="instagram-play-btn" type="button" data-instagram-play-toggle aria-label="Play / pause" aria-pressed="false">
              <i class="ion ion-ios-play" data-play-icon aria-hidden="true"></i>
            </button>
            <div class="instagram-player-info">
              {% if page.music_title %}
                <div class="instagram-track-meta">
                  <span class="instagram-track-title">{{ page.music_title }}</span>
                  {% if page.music_artist %}<span class="instagram-track-artist">{{ page.music_artist }}</span>{% endif %}
                </div>
              {% endif %}
              <div class="instagram-waveform" data-instagram-waveform aria-hidden="true">
                {% for i in (1..20) %}<span style="height:{{ i | modulo: 5 | plus: 2 | times: 4 }}px"></span>{% endfor %}
              </div>
              <div class="instagram-progress-wrap" data-instagram-progress-wrap>
                <div class="instagram-progress-bar" data-instagram-progress></div>
                <div class="instagram-progress-thumb" data-instagram-thumb></div>
              </div>
            </div>
            <span class="instagram-time" data-instagram-time>0:00</span>
          </div>
        {% elsif page.youtube_url == nil %}
          <button class="instagram-sound-button" type="button" data-instagram-sound-toggle aria-pressed="false">
            <i class="ion ion-md-musical-note" aria-hidden="true"></i>
            <span>Open on Instagram</span>
          </button>
        {% endif %}

        <a class="instagram-source-link" href="https://www.instagram.com/p/{{ instagram_shortcode }}/" target="_blank" rel="noopener">
          <i class="ion ion-logo-instagram" aria-hidden="true"></i>
          <span>View on Instagram</span>
        </a>
      </div>
    {% endif %}

    <div class="post__content">
      {{ content }}
    </div>

    <div class="post__share">
      <ul class="share__list list-reset">
        <li class="share__item">
          <a class="share__link share__twitter"
            href="https://twitter.com/intent/tweet?text={{ page.title | uri_escape }}&url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
            onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
            title="Share on Twitter" rel="nofollow"><i class="ion ion-logo-twitter"></i></a>
        </li>
        <li class="share__item">
          <a class="share__link share__facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}"
            onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
            title="Share on Facebook" rel="nofollow"><i class="ion ion-logo-facebook"></i></a>
        </li>
        <li class="share__item">
          <a class="share__link share__pinterest" href="http://pinterest.com/pin/create/button/?url={{ site.url }}{{ page.url }}&amp;media={{ site.url }}{{ site.baseurl }}{{ page.image }}&amp;description={{ page.title | uri_escape }}"
          onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=900,height=500,toolbar=1,resizable=0'); return false;" title="Share on Pinterest"
          rel="nofollow"><i class="ion ion-logo-pinterest"></i></a>
        </li>
      </ul>
    </div>

  </article>
</div>
<!-- end post -->

{% include related-posts.html %}

{% if site.data.settings.disqus-identifier %}
  <div class="container">
    <div class="row">
      <div class="col col-12">
        {% include disqus-comments.html %} 
      </div>
    </div>
  </div>
{% endif %}
